.images{
    display: flex;
    flex-wrap: wrap;
    }
    .lists{
        text-align: center;
        font-size: 30px;
    }
    .img{
      width: 250px;
      object-fit: cover;
      height: 200px;
      margin: 80px;
      text-align: center;
      
    }
   
    
    .placecolor{
    background-color: blueviolet;
    box-shadow: 2px 4px 8px rgb(7, 7, 7);
    width: 350px;   
    border-radius: 10px;
    text-align: center;
   margin: 20PX;
   padding: 25px;
  
    }
   
    